Repository vjousse/elm-mastodon-tooty: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-compile, elm-format, elm-test

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg, pre-rebase]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: no-commit-to-branch
        name: "don't commit to main"
        args: [--branch, main]

  - repo: local
    hooks:
      - id: elm-compile
        name: run elm make on all Main.elm
        language: system
        files: ^src/.*\.elm$
        pass_filenames: false
        entry: |
          ./scripts/all-elm-compiles.sh

      - id: elm-format
        name: run elm-format
        language: system
        files: ^.*\.elm$
        pass_filenames: false
        entry: |
          bash -c 'elm-format ' --

      - id: elm-test
        name: run elm-test-rs
        language: system
        files: ^.*\.elm$
        pass_filenames: false
        entry: |
          bash -c 'elm-test-rs "tests/*.elm"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v9.16.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

fix: use npx to run elm-* stuff
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

fix: add elm to dependencies
  .github/workflows/test.yml
Due: none

refactor: use npm to manage scripts and deps
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/Main.elm
Due: elm-compile, elm-format, elm-test

chore: update README
  README.md
Due: none

docs: add note about publishing a new version
  README.md
Due: none

fix: useless comment
  .github/workflows/test.yml
Due: none

chore: setup CI and pre-commit (#3)
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  commitlint.config.cjs
  elm.json
  package-lock.json
  package.json
  scripts/all-elm-compiles.sh
  src/Main.elm
  tests/SampleTest.elm
Due: elm-compile, elm-format, elm-test

fix: remove useless file
  src/Main.elm
Due: elm-compile, elm-format, elm-test

fix: workflow configuration
  .github/workflows/test.yml
Due: none

fix: pre-commit on ci (#5)
  .github/workflows/test.yml
  src/Main.elm
Due: elm-compile, elm-format, elm-test

fix: test names for new test CI
  tests/DecoderTest.elm
  tests/EncoderTest.elm
  tests/SampleTest.elm
Due: elm-format, elm-test

Add custom emojis support
  src/Mastodon/ApiUrl.elm
  src/Mastodon/Decoder.elm
  src/Mastodon/Encoder.elm
  src/Mastodon/Model.elm
  tests/Decoder.elm
  tests/Encoder.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: comments
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/EncoderTest.elm
Due: elm-compile, elm-format, elm-test

chore: tag 1.2.0
  elm.json
  src/Mastodon/ApiUrl.elm
  src/Mastodon/Decoder.elm
  src/Mastodon/Encoder.elm
  src/Mastodon/Model.elm
Due: elm-compile, elm-format, elm-test

Add support for `custom_emojis` endoint (#4)
  elm.json
  src/Mastodon/ApiUrl.elm
  src/Mastodon/Decoder.elm
  src/Mastodon/Encoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/EncoderTest.elm
  tests/Fixtures.elm
  tests/SampleTest.elm
Due: elm-compile, elm-format, elm-test

fix: elm-exploration should be a test dependency
  elm.json
Due: none

chore: bump version number to 1.2.1
  elm.json
Due: none

fix: elm-test should be a test dependency only (#6)
  elm.json
Due: none

feat: add emojis to statuses and accounts
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

chore: bump version to 2.0.0
  elm.json
Due: none

feat: add emojis to statuses and accounts (#7)
  elm.json
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: add emojis to account encoder
  src/Mastodon/Encoder.elm
  tests/EncoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: add emojis to account encoder (#8)
  src/Mastodon/Encoder.elm
  tests/EncoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

chore: bump version to 2.1.0
  elm.json
  src/Mastodon/Encoder.elm
Due: elm-compile, elm-format, elm-test

chore: bump version to 2.1.0 (#9)
  elm.json
  src/Mastodon/Encoder.elm
Due: elm-compile, elm-format, elm-test

feat: update status and account apis
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: remote_url should be nullable
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
Due: elm-compile, elm-format, elm-test

test: add stats and filter tests
  src/Mastodon/Decoder.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

docs: update doc comments
  src/Mastodon/Model.elm
Due: elm-compile, elm-format, elm-test

chore: bump version
  elm.json
Due: none

feat: update status and account api (#10)
  elm.json
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: poll decoder
  elm.json
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

fix: poll decoder (#11)
  elm.json
  src/Mastodon/Decoder.elm
  src/Mastodon/Model.elm
  tests/DecoderTest.elm
  tests/Fixtures.elm
Due: elm-compile, elm-format, elm-test

Remove trailing slash from streaming
  src/Mastodon/ApiUrl.elm
Due: elm-compile, elm-format, elm-test

fix: remove trailing slash from streaming (#12)
  src/Mastodon/ApiUrl.elm
Due: elm-compile, elm-format, elm-test

chore: tag 4.0.1
  elm.json
Due: none

chore: tag 4.0.1 (#13)
  elm.json
Due: none
